@model PaymentViewModel
@{ ViewBag.Title = "Payment | Distributor Portal"; }

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Payments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Payments</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <div id="divformPayment">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">Search</h2>
                            </div>
                            <form data-ajax-update="#divform"
                                  data-ajax="true"
                                  data-ajax-method="POST"
                                  asp-controller="Payment"
                                  asp-action="Search"
                                  id="frmPayment">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label">From Date</label>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" asp-for="FromDate" readonly="readonly" id="FromDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#FromDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label">To Date</label>
                                                <div class="input-group date" data-target-input="nearest">
                                                    <input type="text" asp-for="ToDate" readonly="readonly" id="ToDate" class="form-control datepicker" />
                                                    <div class="input-group-append" data-target="#ToDate" data-toggle="datetimepicker">
                                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label">Status</label>
                                                <select asp-for="Status" asp-items="Enum.GetValues(typeof(PaymentStatus)).Cast<PaymentStatus>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() })" class="form-control select2">
                                                    <option value="">--Select option--</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label">Payment No</label>
                                                <input type="text" asp-for="PaymentNo" autocomplete="off" class="form-control" />
                                            </div>
                                        </div>
                                        @if (!SessionHelper.LoginUser.IsDistributor)
                                        {
                                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                <div class="form-group">
                                                    <label class="control-label">Distributor</label>
                                                    <select asp-for="DistributorId" asp-items="@(new SelectList(Model.DistributorList, "Value", "Text"))" class="form-control select2">
                                                        <option value="">--Select option--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-2">
                                            <div class="form-group">
                                                <label class="col-form-label font-weight-bold" for="Search"></label>
                                                <button type="submit" name="Search" class="btn btn-block btn-info" value="Search">
                                                    Search
                                                </button>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-2">
                                            <div class="form-group">
                                                <label class="col-form-label font-weight-bold" for="Clear"></label>
                                                <button type="button" name="Clear" class="btn btn-block btn-secondary" value="Clear" id="btnClear">
                                                    Clear
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="content">
            <div class="container-fluid scrollmenu" id="divform">
                <partial name="List" model="Model.PaymentMaster" />
            </div>
        </section>
    </div>
</div>

<script>
    $('#btnClear').on('click', function () {

        $('.select2').val('');
        $('.select2').trigger('change');
        $('#frmHome').submit();
    });
</script>