@model OrderReturnViewModel
@{ ViewBag.Title = "Order Return | Distributor Portal"; }

<div class="content-wrapper">
    <section class="content-header p-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Order Return</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Order Return</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <partial name="Search" model="Model" />
    <section class="content">
        <div class="container-fluid scrollmenu" id="divform">
            <partial name="List" model="Model.OrderReturnMaster" />
        </div>
    </section>
</div>