@model SubDistributor

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Sub Distributor</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="SubDistributor"
                      asp-action="SaveEdit"
                      id="frmSubDistributor"
                      data-ajax-update="#divform"
                      data-ajax-begin="Begin"
                      data-ajax-success="OnSuccess"
                      data-ajax-complete="MessageDisappear"
                      data-ajax="true"
                      data-ajax-method="POST"
                      autocomplete="off">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <input asp-for="Id" type="hidden" />
                                <div class="ibox-content">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Parent Distributor Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            @Html.DropDownListFor(e => e.DistributorId, Model.DistributorList, "--Please Select--", htmlAttributes: new { @class = "form-control select2" })
                                            <span asp-validation-for="DistributorId" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Sub Distributor Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <select asp-for="SubDistributorIds" asp-items="@(new MultiSelectList(Model.SubDistributorList,"Value","Text"))" class="select2" multiple="multiple" data-placeholder="--Select Distributor--">
                                                <option readonly disabled>--Select Distributor--</option>
                                            </select>
                                            <span asp-validation-for="SubDistributorIds" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Is Active</label>
                                        <div class="col-lg-9">
                                            <input style="margin-top: 13px" asp-for="IsActive" type="checkbox" id="IsActive"><i></i>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 ">
                                            <button class="btn btn-sm btn-success float-right" type="submit" onclick="Save();">
                                                Save
                                            </button>
                                            <a data-ajax-update="#divform"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               asp-controller="SubDistributor" asp-action="List"
                                               class="btn btn-sm btn-default float-right mr-3">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    var message = '@((string)TempData["Message"])';

    var MessageDisappear = function (data) {
        debugger
        if (message != "") {
            Toast.fire({
                icon: 'error',
                title: message
            });
            message = '';
        }
        UnBlockUI();
    }
    $(document).ready(function () {

        $('.select2').select2({
            width: '100%',
        });

    });
</script>