@model Bank
@{
    var viewdata = (string)TempData["Message"];
    if (!string.IsNullOrEmpty(viewdata))
    {
        <div class="alert alert-danger alert-dismissable" id="alertmessage">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @viewdata <a class="alert-link" href="#"></a>
        </div>
    }
}

<!-- Main content -->
<!-- SELECT2 EXAMPLE -->
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Bank</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="Bank"
                      asp-action="SaveEdit"
                      id="frmDosageForm"
                      data-ajax-update="#divform"
                      data-ajax-begin="Begin"
                      data-ajax-success="OnSuccess"
                      data-ajax-complete="Complete"
                      data-ajax="true"
                      data-ajax-method="POST"
                      autocomplete="off">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <input asp-for="Id" type="hidden" />
                                <div class="ibox-content">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Company Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            @Html.DropDownListFor(e => e.CompanyId, Model.CompanyList, "--Please Select--", htmlAttributes: new { @class = "form-control" })
                                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Bank Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="BankName" type="text" placeholder="Enter Bank Name" class="form-control" />
                                            <span asp-validation-for="BankName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Branch<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="Branch" type="text" placeholder="Enter Branch" class="form-control" />
                                            <span asp-validation-for="Branch" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Branch Code<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="BranchCode" type="text" placeholder="Branch Code" class="form-control" />
                                            <span asp-validation-for="BranchCode" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Account No<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="AccountNo" type="text" placeholder="Enter Account No" class="form-control" />
                                            <span asp-validation-for="AccountNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">IBAN No<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="IBANNo" type="text" placeholder="Enter IBAN No" class="form-control" />
                                            <span asp-validation-for="IBANNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">GL Account</label>
                                        <div class="col-lg-9">
                                            <input asp-for="GLAccount" type="text" placeholder="Enter GL Account" class="form-control" />
                                            <span asp-validation-for="GLAccount" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <div class="i-checks"><label>Is Active</label>&nbsp;&nbsp;<input asp-for="IsActive" type="checkbox"><i></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 ">
                                            <button class="btn btn-sm btn-success float-right" type="submit" onclick="Save();">
                                                @(Model.Id > 0 ? "Update" : "Add")
                                            </button>
                                            <a data-ajax-update="#divform"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               asp-controller="Bank" asp-action="List"
                                               class="btn btn-sm btn-default float-right mr-3">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.card -->

<script>
    var MessageDisappear = function () {
        setInterval(function () {
            $("#alertmessage").hide('slow');
        }, 5000);
    }
</script>
