@model List<OrderMaster>
@inject IUnitOfWork iUnitOfWork
@{
    ViewBag.Title = "Order ";
    var distributor = new DistributorBLL(iUnitOfWork).DropDownDistributorList(null);
    var search = new OrderSearch() { DistributorList = distributor };
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Orders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Orders</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <partial name="Search" model="@search" />
    <section class="content">
        <div class="container-fluid scrollmenu" id="divform">
            <partial name="List" model="Model" />
        </div>
    </section>
</div>
