@model OrderSearch

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Search</h2>
                    </div>
                    <form data-ajax-update="#divform"
                          data-ajax="true"
                          data-ajax-method="GET"
                          asp-controller="Order"
                          asp-action="Search"
                          id="frmPayment">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="form-group">
                                        <label class="control-label">From Date</label>
                                        <div class="input-group date" data-target-input="nearest">
                                            <input type="text" readonly="readonly" asp-for="FromDate" id="FromDate" class="form-control datepicker" />
                                            <div class="input-group-append" data-target="#FromDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="form-group">
                                        <label class="control-label">To Date</label>
                                        <div class="input-group date" data-target-input="nearest">
                                            <input type="text" name="ToDate" readonly="readonly" id="ToDate" class="form-control datepicker" />
                                            <div class="input-group-append" data-target="#ToDate" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        <select asp-for="Status" asp-items="Enum.GetValues(typeof(OrderStatus)).Cast<OrderStatus>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() })" class="form-control select2">
                                            <option value="">--Select option--</option>
                                        </select>
                                    </div>
                                </div>



                                @if (!SessionHelper.LoginUser.IsDistributor)
                                {
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                        <div class="form-group">
                                            <label class="control-label">Distributor</label>
                                            <select asp-for="DistributorId" asp-items="@(new SelectList(Model.DistributorList, "Value", "Text"))" class="form-control select2">
                                                <option value="">--Select option--</option>
                                            </select>
                                        </div>
                                    </div>
                                }
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top:10px">
                                    <div class="form-group">
                                        <label class="col-form-label font-weight-bold" for="Search"></label>
                                        <button type="submit" name="Search" class="btn btn-block btn-info" value="Search">
                                            Search
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1" style="margin-top:10px">
                                    <div class="form-group">
                                        <label class="col-form-label font-weight-bold" for="Clear"></label>
                                        <button type="submit" name="Clear" class="btn btn-block btn-secondary" value="Clear" id="btnClear">
                                            Clear
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
