@model Models.Application.User
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login | SAMI Pharmaceuticals</title>
    <meta charset="utf-8" />
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Login/bootstrap.min.css">
    <link rel="stylesheet" href="~/Login/all.min.css">
    <link rel="stylesheet" href="~/Login/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Login/style.css" />
    <link href="~/lib/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <!-- Ladda style -->
    <link href="~/lib/ladda/ladda-themeless.min.css" rel="stylesheet">
    <script src="~/Login/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
    
</head>
<body class="form-login-body">
    <div class="container-fluid">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 logo">
                        <img src="~/Images/favicon.png" class="pull-right" alt="">
                    </div>
                    <div class="col-md-3 sup" style="margin-top: 5px">
                        <h3><strong>SAMI</strong> Pharmaceuticals</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-body container-fluid">
            <div class="container">
                <form asp-controller="Login"
                      asp-action="Index"
                      id="frmUser"
                      data-ajax-begin="LoginBegin"
                      data-ajax-success="OnLoginSuccess"
                      data-ajax-complete="Complete"
                      data-ajax="true"
                      data-ajax-method="POST"
                      method="post"
                      autocomplete="off">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="login-text">
                                <h4>Login to Distributor Portal</h4>
                                <span asp-validation-for="UserName" style="font-size:12px" class="text-danger"></span>
                                <input type="text" asp-for="UserName" id="UserId" placeholder="Enter Username" class="form-control" autocomplete="off">
                                <span asp-validation-for="Password" style="font-size:12px" class="text-danger"></span>
                                <input type="password" asp-for="Password" placeholder="Enter Password" class="form-control">
                                <button type="submit" class="ladda-button btn btn-primary" data-style="zoom-in">
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    <span class="sr-only">Loading...</span>
                                    Sign In
                                </button>
                                <a href="#" id="ForgotPassword">Forgot password?</a>
                                <p id="error" class="text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="login-img">
                                <img src="~/Images/login copy.png" alt="">
                            </div>
                        </div>
                    </div>
                </form>
                <div class="copy"><p>Designed by <a href="#">SAMI Pharmaceuticals</a></p></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
            <form asp-controller="Login"
                  asp-action="ChangePassword"
                  id="frmUser"
                  data-ajax-begin="Begin"
                  data-ajax-success="OnSuccess"
                  data-ajax-complete="OnComplete"
                  data-ajax="true"
                  data-ajax-method="POST"
                  method="post"
                  autocomplete="off">
                <input type="hidden" asp-for="UserName" id="UserName" />
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="text-center">
                            <h6 class="">Change default password before proceeding</h6>
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" asp-for="Password" id="Password" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" placeholder="Password" autocomplete="off" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="text" asp-for="ConfirmPassword" id="ConfirmPassword" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" placeholder="Confirm Password" autocomplete="off" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" id="ChangePassword" value="ChangePassword" name="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>

        $(document).ready(function () {
            $('#ForgotPassword').on('click', function () {
                $('.text-danger').empty();
                $('#error').text('Contact to administrator');
            })

            localStorage.setItem('disclaimer', "false");

        });

        function OnLoginSuccess(data) {

            if (data.data.Status) {
                Toast.fire({
                    icon: 'success',
                    title: data.data.Message
                })
                setTimeout(function () {
                    window.location = data.data.RedirectURL;
                }, 1000);
            }
            else {
                if (data.data.Message == "Please change default password.") {
                    $('#UserName').val($('#UserId').val());
                    $('#modal-default').modal('toggle');
                    $('#modal-default').modal('show');
                    event.preventDefault();
                    event.stopImmediatePropagation();
                }
                Toast.fire({
                    icon: 'error',
                    title: data.data.Message
                })
            }
        }

        function Complete() {
            $('#modal-default').modal('toggle');
            $('#modal-default').modal('hide');
            $('#Spinner').hide('slow');
            $('button[type="submit"]').attr('disabled', false);
            Ladda.create($("button[type=submit]", this)[0]).stop();
        }

        function LoginBegin() {
            $('#Spinner').show();
            $('button[type="submit"]').attr('disabled', true);
            Ladda.create($("button[type=submit]", this)[0]).start();
        }

    </script>

    <script src="~/Login/popper.min.js"></script>
    <script src="~/Login/bootstrap.min.js"></script>
    <script src="~/Login/script.js"></script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    <script src="~/Pages/Common.js"></script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    <!-- Ladda -->
    <script src="~/lib/ladda/spin.min.js"></script>
    <script src="~/lib/ladda/ladda.min.js"></script>
    <script src="~/lib/ladda/ladda.jquery.min.js"></script>
    <script src="~/Pages/Common.js"></script>
</body>
</html>
