@model User
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login | DigiTrends</title>
    <meta charset="utf-8" />
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/Login/bootstrap.min.css">
    <link rel="stylesheet" href="~/Login/all.min.css">
    <link rel="stylesheet" href="~/Login/animate.css">
    <link rel="stylesheet" type="text/css" href="~/Login/style.css" />
    <link href="~/lib/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/lib/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/ladda/ladda-themeless.min.css" rel="stylesheet">
    <script src="~/Login/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>
</head>
<body class="form-login-body">
    <div class="container-fluid">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-md-1 logo">
                        <img src="~/Images/favicon.png" class="pull-right" alt="SAMI Pharmaceuticals (Pvt.) Ltd.®">
                    </div>
                    <div class="col-md-4 sup" style="margin-top: 5px">
                        <h4><strong>SAMI</strong><br /> Pharmaceuticals (Pvt.) Ltd.<sup>&#174;</sup></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="login-body container-fluid">
            <div class="container">               
                    <div class="row">
                        <div class="col-md-5">
                            <div class="login-text">
                                <h4>Thanks For Using Distributor Portal</h4>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="login-img">
                                <img src="~/Images/login copy.png" alt="">
                            </div>
                        </div>
                    </div>
                <div class="copy"><p>Designed by <a href="#">DigiTrends<sup></sup></a></p></div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          
        </div>
    </div>
    <script src="~/Login/popper.min.js"></script>
    <script src="~/Login/bootstrap.min.js"></script>
    <script src="~/Login/script.js"></script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    <script src="~/Pages/Common.js"></script>
    <script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/plugins/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/lib/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/ladda/spin.min.js"></script>
    <script src="~/lib/ladda/ladda.min.js"></script>
    <script src="~/lib/ladda/ladda.jquery.min.js"></script>
    <script src="~/Pages/Common.js"></script>
</body>
</html>
