@model LicenseControl
@{
    var viewdata = (string)TempData["Message"];
    if (!string.IsNullOrEmpty(viewdata))
    {
        <div class="alert alert-info alert-dismissable" id="alertmessage">
            <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
            @viewdata <a class="alert-link" href="#"></a>
        </div>
    }
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">License</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="License"
                      asp-action="SaveEdit"
                      id="frmDosageForm"
                      data-ajax-begin="Begin"
                      data-ajax-update="#divform"
                      data-ajax-complete="MessageDisappear"
                      data-ajax="true"
                      data-ajax-method="POST">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <input asp-for="Id" type="hidden" />
                                <div class="ibox-content">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">License Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="LicenseName" type="text" placeholder="Name" class="form-control" />
                                            <span asp-validation-for="LicenseName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">License Acceptance Day(s)<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="LicenseAcceptanceInDay" type="text" placeholder="Enter Day(s)" class="form-control" />
                                            <span asp-validation-for="LicenseAcceptanceInDay" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Day(s) Intimation Before Expiry<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="DaysIntimateBeforeExpiry" type="text" placeholder="Enter Day(s)" class="form-control" />
                                            <span asp-validation-for="DaysIntimateBeforeExpiry" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-3">

                                        </div>
                                        <div class="col-lg-offset-3 col-lg-4">
                                            <div class="i-checks"><label asp-for="IsActive">Is Active</label>&nbsp;&nbsp;<input asp-for="IsActive" type="checkbox"><i></i></div>
                                        </div>
                                        <div class="col-lg-offset-2 col-lg-4">
                                            <div class="i-checks"><label asp-for="IsMandatory">Is Mandatory</label>&nbsp;&nbsp;<input asp-for="IsMandatory" type="checkbox"><i></i></div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 ">
                                            <button class="btn btn-sm btn-success float-right" type="submit" onclick="Save();">
                                                @(Model.Id > 0 ? "Update" : "Add")
                                            </button>
                                            <a data-ajax-update="#divform"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               asp-controller="License" asp-action="List"
                                               class="btn btn-sm btn-default float-right mr-3">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /.card -->

<script>
    var MessageDisappear = function () {
        setInterval(function () {
            $("#alertmessage").hide('slow');
        }, 5000);
    }
    var OnSuccess = function () {
        Toast.fire({
            icon: 'success',
            title: '@NotificationMessage.SaveSuccessfully'
        })
    }
</script>
