<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <title>@ViewData["Title"] - DistributorPortal</title>
    <partial name="Head" />

    <style type="text/css">

        div.scrollmenu {
            overflow: auto;
        }

        .select2-container .select2-selection--single {
            box-sizing: border-box;
            cursor: pointer;
            display: block;
            height: 50px;
            user-select: none;
            -webkit-user-select: none;
            width: 100%;
        }

        select2 select2-container {
            width: 100%;
        }

        .text-sm .select2-container--default .select2-selection--single, select.form-control-sm ~ .select2-container--default .select2-selection--single {
            height: calc(2.2rem + 2px);
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <audio id="xyz" src="~/lib/dist/swiftly-610.mp3" preload="auto"></audio>
    <div class="wrapper">
        <partial name="Navigation" />
        @RenderBody()
        <partial name="Footer" />
    </div>
    <div class="loader">
        <div class="loading">
        </div>
    </div>
    <partial name="FooterScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
