<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DistributorPortal</title>
    <partial name="Head" />
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <partial name="Navigation" />
        @RenderBody()
        <partial name="Footer" />

    </div>
    <partial name="FooterScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
