<div class="footer">
    <div class="float-right">
        <strong>Copyright © SAMI Pharmaceuticals (Pvt.) Ltd.® @DateTime.Now.Year | Version 1.1</strong>
    </div>
</div>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
