@model CustomerBalanceSearch
@inject IUnitOfWork iUnitOfWork
@{
    ViewBag.Title = "Customer Balance";
    var distributors = new DistributorBLL(iUnitOfWork).DropDownDistributorList();
    var companies = new CompanyBLL(iUnitOfWork).DropDownCompanyList();
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Customer Balance</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Customer Balance</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Search</h2>
                        </div>
                        <form asp-controller="Reports"
                              asp-action="CustomerBalanceView"
                              id="frmCustomerBalanceSearch"
                              data-ajax-begin="Begin"
                              data-ajax-complete="Complete"
                              data-ajax-update="#divform"
                              data-ajax="true"
                              data-ajax-method="POST">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Company<span class="text-danger"> * </span></label>
                                            <select asp-for="SAPCompanyCode" asp-items="@(new SelectList(companies, "Value", "Text"))" class="form-control select2">
                                                <option value="">--Select option--</option>
                                            </select>
                                        </div>
                                    </div>
                                    @if (!SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                            <div class="form-group">
                                                <label class="control-label">Distributor</label>
                                                <select asp-for="DistributorSAPCode" asp-items="@(new SelectList(distributors, "Value", "Text"))" class="form-control select2">
                                                    <option value="">--Select option--</option>
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                                        </div>
                                    }
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 p-2">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="Search"></label>
                                            <button type="submit" name="Search" class="btn btn-block btn-info" value="Search" id="btnSearch">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 p-2">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="Clear"></label>
                                            <button type="button" name="Clear" class="btn btn-block btn-secondary" value="Clear" id="btnClear">
                                                Clear
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>    <section class="content">
        <div class="container-fluid scrollmenu" id="divform">
        </div>
    </section>
</div>
<script>

    $(".datepicker").datepicker({
        todayHighlight: true,
        autoclose: true,
        orientation: 'bottom',
    });

    $(document).ready(function () {

        $('.select2').select2({
            width: '100%',
        });
    });

    $('body').on('click', '#btnClear', function () {

        $('.select2').val('');
        $('.select2').trigger('change');
        $('.form-control, .datepicker').val('');
    });

    $('body').on('click', '#btnSearch', function () {

        if ($('#SAPCompanyCode').val() == "") {
            Toast.fire({ icon: 'error', title: 'Select Company' });
            return false;
        }
        $('#frmCustomerBalanceSearch').submit();
    });
</script>