@model CustomerReceivable
@inject IUnitOfWork iUnitOfWork
@{
    ViewBag.Title = "Customer Receivable";
    var distributor = new DistributorBLL(iUnitOfWork).DropDownDistributorList(null);
    var companies = new CompanyBLL(iUnitOfWork).DropDownCompanyListlocal();
    var search = new CustomerReceivableSearch() { DistributorList = distributor,CompanyList = companies };
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Customer Receivable</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Pending Order</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <partial name="CustomerReceivableSearch" model="@search" />
    <section class="content">
        <div class="container-fluid scrollmenu" id="divform">
            <partial name="CustomerReceivableList" model="Model" />
        </div>
    </section>
</div>