@model PaymentSearch
@inject IUnitOfWork iUnitOfWork
@{
    ViewBag.Title = "Payment ";
    var distributor = new DistributorBLL(iUnitOfWork).DropDownDistributorList(null);
    var search = new PaymentSearch() { DistributorList = distributor };
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Payment</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Payment</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <partial name="PaymentSearch" model="@search" />
    <section class="content">
        <div class="container-fluid scrollmenu" id="divform">
            <partial name="PaymentList" model="Model.PaymentMasters" />
        </div>
    </section>
</div>