@model SaleReturnCreditNoteSearch
@inject IUnitOfWork iUnitOfWork
@{
    ViewBag.Title = "Sale Return Credit Note";
    var distributors = new DistributorBLL(iUnitOfWork).DropDownDistributorList(null);
    var companies = new CompanyBLL(iUnitOfWork).DropDownCompanyList(null);
}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sale Return Credit Note</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sale Return Credit Note</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Search</h2>
                        </div>
                        <form asp-controller="Reports"
                              asp-action="SaleReturnCreditNoteSearch"
                              id="frmSaleReturnCreditNoteSearch"
                              data-ajax-begin="Begin"
                              data-ajax-complete="Complete"
                              data-ajax-update="#divform"
                              data-ajax="true"
                              data-ajax-method="POST">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">From Date</label>
                                            <div class="input-group date" data-target-input="nearest">
                                                <input type="text" asp-for="FromDate" readonly="readonly" id="FromDate" class="form-control datepicker" style="background: white;" />
                                                <div class="input-group-append" data-target="#FromDate" id="input-group-append-From" data-toggle="datepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">To Date</label>
                                            <div class="input-group date" data-target-input="nearest">
                                                <input type="text" asp-for="ToDate" readonly="readonly" id="ToDate" class="form-control datepicker" style="background: white;" />
                                                <div class="input-group-append" data-target="#ToDate" id="input-group-append-To" data-toggle="datepicker">
                                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Company</label>
                                            <select asp-for="CompanyId" asp-items="@(new SelectList(companies, "Value", "Text"))" class="form-control select2">
                                                <option value="">--Select option--</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Invoice No</label>
                                            <input type="text" asp-for="SaleReturnNo" min="0" maxlength="10" pattern="\d*" oninput="validity.valid||(value='');" id="ComplaintNo" autocomplete="off" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @if (!SessionHelper.LoginUser.IsDistributor)
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <div class="form-group">
                                                <label class="control-label">Distributor</label>
                                                <select asp-for="DistributorId" asp-items="@(new SelectList(distributors, "Value", "Text"))" class="form-control select2">
                                                    <option value="">--Select option--</option>
                                                </select>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        </div>
                                    }
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-2">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="Search"></label>
                                            <button type="submit" name="Search" class="btn btn-block btn-info" value="Search">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 p-2">
                                        <div class="form-group">
                                            <label class="col-form-label font-weight-bold" for="Clear"></label>
                                            <button type="button" name="Clear" class="btn btn-block btn-secondary" value="Clear" id="btnClear">
                                                Clear
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>    <section class="content">
        <div class="container-fluid scrollmenu" id="divform">
            @*<partial name="OrderList" model="" />*@
        </div>
    </section>
</div>