@model List<DistributorWiseProductDiscountAndPrices>
@{ ViewBag.Title = "Product "; }

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Distributor Wise Product</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Products</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid" id="divform">
            <partial name="List" model="Model" />
        </div>
    </section>
</div>
<script>

    $('body').on('change', '#ddlDistributorId', function () {
        debugger
        if ($("#ddlDistributorId option:selected").text() == "--All--") {
            return false;
        }

        BlockUI();
        var params = { DistributorId: $(this).val() };
        var url = '@Url.Action("List", "DistributorWiseProduct")';
        $.get(url, params, function (context) {
            }).done(function (context) {
                $("#divform").html("");
                $('#divform').html(context);
                UnBlockUI();
            });
    });

</script>