@model PaymentSection

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Payment Section</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-controller="PaymentSection"
                      asp-action="SaveEdit"
                      id="frmPaymentSection"
                      data-ajax-update="#divform"
                      data-ajax-begin="Begin"
                      data-ajax-success="OnSuccess"
                      data-ajax-complete="MessageDisappear"
                      data-ajax="true"
                      data-ajax-method="POST"
                      autocomplete="off">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox ">
                                <input asp-for="Id" type="hidden" />
                                <div class="ibox-content">
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Company Name<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            @Html.DropDownListFor(e => e.CompanyId, Model.CompanyList, "--Please Select--", htmlAttributes: new { @class = "form-control" })
                                            <span asp-validation-for="CompanyId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Form No<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="FormNo" type="text" placeholder="Enter Form No" class="form-control" />
                                            <span asp-validation-for="FormNo" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">GL Account<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="GLAccount" type="text" placeholder="Enter GL Account" class="form-control" />
                                            <span asp-validation-for="GLAccount" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-3 col-form-label">Tax Rate<span class="text-danger"> * </span></label>
                                        <div class="col-lg-9">
                                            <input asp-for="TaxRate" type="text" placeholder="Enter Tax Rate" class="form-control" />
                                            <span asp-validation-for="TaxRate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <div class="i-checks">
                                                <label>Is Active</label>&nbsp;&nbsp;<input asp-for="IsActive" type="checkbox"><i></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-lg-12 ">
                                            <button class="btn btn-sm btn-success float-right" type="submit" onclick="Save();">
                                                @(Model.Id > 0 ? "Update" : "Add")
                                            </button>
                                            <a data-ajax-update="#divform"
                                               data-ajax="true"
                                               data-ajax-method="GET"
                                               asp-controller="PaymentSection" asp-action="List"
                                               class="btn btn-sm btn-default float-right mr-3">Back</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var message = '@((string)TempData["Message"])';

    var MessageDisappear = function (data) {

        if (message != "") {
            Toast.fire({
                icon: 'error',
                title: message
            });
            message = '';
        }
        UnBlockUI();
    }
</script>
